<aside class="main-menu js-main-menu">
  <div class="mm-navigation-container">
    <header><div class="hide-collapsed"><span id="product-label">{{ site.title }}</span></div>
      <div class="mm-navigation-close js-sidebar-toggle"><i class="eos-icons js-sidebar-tooltip js-tooltip" data-placement="bottom" title="">menu</i></div>
    </header>
    <div class="nav-wrap">
      <ul class="menu-togglable no-list-style">
        {% for project in site.projects %}
          <li class="menu-item">
            <div class="menu-element">
              <span class="main-collapsed-title">{{ project[0] }}</span>
            </div>
            <a class="menu-title js-select-current-parent js-feature-flag" href="{{ project[1] }}">
              <i class="eos-icons">project</i>
              <span class="menu-title-content">{{ project[0] }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <footer class="footer-side-menu">
    {% include footer.html %}
  </footer>
</aside>
<div class="mobile-menu js-mobile-menu">
  <header><div class="hide-collapsed"><span id="product-label">{{ site.title }}</span></div>
    <div class="mm-navigation-close js-sidebar-toggle"><i class="eos-icons js-sidebar-tooltip js-tooltip" data-placement="bottom" title="">menu</i></div>
  </header>
  <nav class="display-nav">
    <div class="nav-wrap">
      <ul class="menu-togglable no-list-style">
        {% for project in site.projects %}
          <li class="menu-item">
            <div class="menu-element">
              <span class="main-collapsed-title">{{ project[0] }}</span>
            </div>
            <a class="menu-title js-select-current-parent js-feature-flag" href="{{ project[1] }}">
              <i class="eos-icons">project</i>
              <span class="menu-title-content">{{ project[0] }}</span></a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
