{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<nav class="top">
  <img id="logo" src="{{ 'SUSE_Logo-hor_L_White-neg_sRGB.svg' | url }}">
  <div>
    <input class="menu" type="checkbox" id="side-menu"/>
    <label class="menu" for="side-menu"></label>
    <ul>
      {% for blk in this.body.blocks %}
      <li>
        <a href="#{{ blk.id }}" onclick="document.getElementById('side-menu').checked = false;">{{ blk.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
<header>
  <h1>
    {{ this.title }}<br>
    <small>{{ this.subtitle }}</small>
  </h1>
</header>
<div class="container">
  {{ this.body }}
</div>
<footer>
  {{ this.footer }}
</footer>
{% endblock %}
