<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{ this.title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ bag('lektorproject.project.url') }}">
  <meta name="theme-color" content="#fafafa">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="{{ '/css/normalize.css'|asseturl }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/css/application.css'|asseturl }}">
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>
